* {
    margin:0px;
    padding:0px;
    letter-spacing:8px;
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
    }
header{
    text-align: center;
    font-size: large;
    color: #976565;
}
nav {
     width:100%;
    margin-top:0px;
    background-color:#00000000;
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	padding-top:40px;
    padding-bottom: 40px;
    background-color: rgb(19, 2, 2);
    }

body {
    background-image:url("bg/bg_main2.gif");
    background-color:#3d0909;
    color:#c1b492;	 
    }

