*{
    box-sizing: border-box;
    letter-spacing: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background-color: black;
    color: #ffff73;
    margin: 0;
    padding: 0;
}
a{
    color: #ff5454;
    text-decoration: none;
}

nav{
    background-color: #f1c500;
    padding: 10px 0px;
    margin: 0px 0px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
#navbar{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
#navbar li{
    position: relative;
    padding: 0 20px;
    list-style: none;
}
#navbar li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 10px;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #000000;
}
.hero h1{
    font-size: 50px;
    text-align: center;
    letter-spacing: 30px;
    text-shadow: 5px 0px 5px red;
    margin-top: 70px;
    margin-bottom: 20px;
}
.heroImage{
    background-image: url(../images/background-daze.png);
    background-size: cover;
    background-position: center center;
    height: 280px
}
.introImage img{
    width: 35%;
}
.introImage{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.intro{
    margin: 0px 30px;
}
.introText h2{
    font-size: 36px;
    margin: 0;
}
.introText p{
    margin: 15px 0px;
    letter-spacing: 6px;
}

@keyframes redshadow {
    50%{
        text-shadow: 5px 0px 10px red;
    }
}