*{
    box-sizing: border-box;
    letter-spacing: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background-color: black;
    color: #ffff73;
    margin: 0;
    padding: 0;
}
a{
    color: #ff5454;
    text-decoration: none;
}

nav{
    background-color: #f1c500;
    padding: 2px 0px;
    margin: 0px 0px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}
#navbar{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 12px 0px;
}
#navbar li{
    position: relative;
    padding: 0 50px;
    list-style: none;
}
#navbar li a{
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 8px;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #000000;
}
#navbar li span{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
h1{
    font-size: 50px;
    text-align: center;
    letter-spacing: 30px;
    text-shadow: 5px 0px 3px red;
    margin-top: 70px;
    margin-bottom: 20px;
}
.hero{
    margin-top: 100px;
}
.heroImage{
    background-image: url(../images/background-daze.png);
    background-size: cover;
    background-position: center center;
    height: 280px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.heroText{
    text-align: center;
    margin-top: 200px;
}
.introImage img{
    width: 25%;
    margin-top: 100px;
}
.introImage{
    text-align: center;
    margin-top: 100px;
}

h2{
    font-size: 36px;
    margin: 0;
    animation: redshadow 2s ease-in-out infinite;

}

h3{
    font-size: 26px;
    margin: 0;
}
.introText p{
    margin: 15px 0px;
    letter-spacing: 6px;
    font-size: 20px;
}
.shopHeader{
    margin-top: 150px;
    text-align: center;
}
.shopContainer{
    display: flex;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;

}
.shopItem{
    padding-top: 40px;
    padding-left: 15px;
    margin: 30px 15px 15px 15px;
    text-align: center;
    width: 30%;
    float: left;
    border-radius: 20px;
    transition: .2s;
    background: #000000;
    letter-spacing: 4px;
    line-height: 1.3;


}
.shopItem:hover{
    transform: translate(0px, -10px);

}
.shopItem img{
    max-width: 300px;
    max-height: 240px;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.shopItem p{
    letter-spacing: 5px;
}
.shopItem button{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 15px;
    background-color: #f1c500;
    border: 0;
    outline: none;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top:5px ;
}
.shopItem h3{
    letter-spacing: 5px;
    font-size: 35px;
}
.shopItem .price{
    font-size: 38px;
    font-weight: 600;
}
.item1 button{
    background: #9729ff;
}
.item2 button{
    background: white;
}
.item1{
    color:#e875ff
}
.item2{
    color: white;
}
.notPlush{
    letter-spacing: 3px;
    color: #ffffff7a;
}

@keyframes redshadow {
    50%{
        text-shadow: 3px 0px 3.5px red;
    }
}


/* Register page */

label{
    padding-left: 10px;
    font-size: 20px;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #272727;
    letter-spacing: 1px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #9797978c;
    outline: none;
  }
  input[type=text]::placeholder, input[type=password]::placeholder{
    color: #ffff73;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 0.5px solid #ffec82;
    margin-bottom: 25px;
  }
.formContainer{
    padding: 50px 100px;
}
input, select, textarea{
    color: #fff23f;
}

textarea:focus, input:focus {
    color: #fff23f;
}
select{
    background-color: #000000;
    width: 120px;
    border: 2px solid rgb(95, 95, 0);
    border-radius: 2px;
}
option{
    letter-spacing: 5px;
}
input[type=submit]{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: #000000;
    font-size: 21px;
    text-shadow: 2px 0px 2px red;
    border-radius: 3px;
    border-color: #f1c500;
}
.submitButton{
    text-align: center;
}

.order {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin-left: 20px;
}
.radioInput{
    text-align: center;
}
input[type=text], input[type=number]{
    width: 75%;
    margin-left: 18px;
}
#cardYes{
    text-align: center;
}