* {
    margin:0px;
    padding:0px;
    letter-spacing:8px;

    }
header, footer{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    color: #90c2df;
    padding-top: 8px;

}
footer{
    margin-top: 8px;
}
a {
	text-decoration:none;
	
	}
	/* Hyperlink style */
a:link {
	color:#56b5f5;
	}
	
a:visited {
	color:#2d9bdb;
	}
	
a:hover {
	color:#3184f0;
	animation: shizenB 2s ease-out infinite;

	}
    /* Portrait style */
.portrait{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    height: auto;
    border: 3px solid;
    border-radius: 50%;
    animation: shizenBorder 2s ease-in-out infinite; 
}

    
nav {
    max-width:100%;
    background-color:#00000000;
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	padding-top:40px;
    padding-bottom: 40px;
    background-color: #030213;
    }
/* the actual menu */
#navline {  
	font-size:19px;
    margin-top: 14px;
	margin-bottom:20px;
    line-height: 1.6;
	
	}
h1{
    text-align: center;
    line-height: 1.8;
}
/* My full name */
.l_name, .m_name, .f_name, .article_header{
    animation: shizenA 2s ease-in-out infinite;
}
.m_name{
    
    animation-delay: 0.4s;
}
.f_name{
    
    animation-delay: 0.8s;
}
/* -- */
body {
    background-image:url("./images/");
    background-color:#091333;
    color:#49c0f7;	 
    }

article{
    max-width:800px;
	background-color:#030213;
	background-image:url("");
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	letter-spacing:8px;
	font-size:13px;
    padding: 20px 30px 20px 30px;
}

.article_header{
    font-size: 30px;
}
.text{
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5px;
    color: #b1defa;
    line-height: 1.6;
}
#swin{
    color: #e02323;
    animation: swinburne 2s ease-in-out infinite;
}

footer{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}

#animelist{
    margin-top: 40px;
    text-align: center;
    line-height: 1.8;
    list-style: none;
    color: #ffa1eb;
    font-size: 20px;
}

#message{ 
    margin-top: 40px;
}

label{
    font-size: 15px;
}
.userInput{
    margin-top: 30px;
    max-width: 100%;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid #48bdf3;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #00000000;
    color: #e591ff;
    letter-spacing: 2px;
}
#messageInput{
    resize: none;
    margin-top: 15px;
    width: 600px;
    height: 200px ;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #00000000;
    border-color: #40b6fa;
    border-radius: 3px;
    color: #e591ff;
    padding: 10px 20px;
    letter-spacing: 5px;
}
input[type=text], #messageInput:focus{
    outline: none;
}
input[type=submit]{
    margin-top: 15px;
    padding: 10px 20px;
    letter-spacing: 5px;
    text-align: center;
    background-color: #00000000;
    color: #40b6fa;
    border-color: #40b6fa;
    border-radius: 3px;
}

input[type=submit]:hover{
    background-color: #061c35;
}
@keyframes blink {
    50% {
        color:black;
    }
   }

 @keyframes shizenB {
  50% {
	  color:#b652d4;
	  text-shadow:#48bdf3 1px 1px 6px;
	  }
    }
 @keyframes shizenA {
  50% {
	  color:#49c0f7;
	  text-shadow:#fc8eac 1px 3px 4px;
	  }
    }
@keyframes shizenBorder {
    50% {
        color: #1c51b4;
    }
}
@keyframes swinburne {
    50%{
            color: #ce1818;
            text-shadow: #e9615c 1px 1px 6px;
    }
    
}